body #artist {
  max-width: 750px;
  margin-bottom: 3px;
  margin-top: 0px; }
body #artist-search {
  width: 400px;
  margin: auto; }
body #venue-filter {
  margin-top: 10px;
  margin-bottom: 0px; }
  body #venue-filter button {
    margin-right: 5px;
    outline: none; }
  body #venue-filter .disabled {
    pointer-events: all;
    cursor: pointer; }
body #price {
  position: relative;
  top: 2px; }
body #events {
  margin-top: 10px;
  margin-bottom: 20px; }
body #event-repeater {
  margin-bottom: 20px; }
body #openers {
  color: inherit;
  font-weight: 300; }
